@charset "UTF-8";
:root {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.625;
  color: #404040;
  padding: 0;
  margin: 0;
}

iframe {
  border: none;
}

a,
b,
div,
ul,
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-outline-: none;
}

a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
  -moz-outline: none;
  outline: none;
}

img:not([draggable]),
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: 0;
  transition: all 0.4s ease;
}

a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: 0;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
  -webkit-user-select: none;
          user-select: none;
  height: auto;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #041A57;
  font-weight: 700;
  line-height: 1.625;
}

a {
  display: inline-block;
  color: #e54220;
  transition: all 0.4s ease;
}
a:hover {
  color: #041a57;
}

/* remove from control focus box shadow */
.form-control:focus {
  box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
}

/* input type number spinner turn of firefox */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.btn {
  background: #e54220;
  transition: all 500ms ease-in-out;
  position: relative;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.btn:hover {
  background-color: #041a57;
}

/* Global */
.admin-bar .navbar-sticky.sticky {
  margin-top: 30px;
}

/* Image */
.alignright.size-thumbnail.wp-image-827 {
  margin-bottom: 40px;
  display: inline-block;
}

img,
figure {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img[class*=wp-image-] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wp-caption img[class*=wp-image-] {
  display: block;
}

.wp-caption {
  margin-bottom: 8px;
  max-width: 100%;
  border-radius: 0;
  padding: 0;
  clear: both;
}

.wp-caption.aligncenter {
  margin-bottom: 10px;
}

.wp-caption .wp-caption-text {
  text-align: center;
  margin-top: 4px;
  font-style: italic;
  margin-bottom: 30px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.alignleft {
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/*-- HTML Formate --*/
/* table */
table,
iframe {
  border: 1px solid #e7e7e7;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}
.table > thead > tr > th > a,
.table > tbody > tr > th > a,
.table > tfoot > tr > th > a,
.table > thead > tr > td > a,
.table > tbody > tr > td > a,
.table > tfoot > tr > td > a,
table > thead > tr > th > a,
table > tbody > tr > th > a,
table > tfoot > tr > th > a,
table > thead > tr > td > a,
table > tbody > tr > td > a,
table > tfoot > tr > td > a {
  text-decoration: underline;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > th:first-child,
.table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child,
table > thead > tr > th:first-child,
table > tbody > tr > th:first-child,
table > tfoot > tr > th:first-child,
table > thead > tr > td:first-child,
table > tbody > tr > td:first-child,
table > tfoot > tr > td:first-child {
  border-left: none;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 10px 10px;
  text-align: center;
}

div.calendar_wrap caption {
  caption-side: top;
  text-align: center;
  background-color: #ededed;
  font-weight: 600;
  padding: 0.5em;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -1px;
  color: #101010;
}
div.calendar_wrap .wp-calendar-nav span {
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  padding: 2.5% 2.5% 1.75% 2.5%;
  text-align: center;
}
div.calendar_wrap .wp-calendar-nav {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  height: 42px;
  align-items: center;
}
div.calendar_wrap .wp-calendar-nav-next > a::before {
  content: "";
}
div.calendar_wrap .wp-calendar-nav-prev > a::before {
  content: "";
}
div.calendar_wrap .wp-calendar-nav-prev > a,
div.calendar_wrap .wp-calendar-nav-next > a {
  font-size: 0px;
}
div.calendar_wrap .wp-calendar-nav-prev > a::before,
div.calendar_wrap .wp-calendar-nav-next > a::before {
  font-size: 16px;
  font-family: "xs-fonts";
  font-weight: 900;
}

div.calendar_wrap table > thead > tr > th,
div.calendar_wrap table > tbody > tr > th,
div.calendar_wrap table > tfoot > tr > th,
div.calendar_wrap table > thead > tr > td,
div.calendar_wrap table > tbody > tr > td,
div.calendar_wrap table > tfoot > tr > td {
  padding: 3px;
}

.widget_calendar .wp-calendar-table #today {
  background-color: #E54220;
  color: #ffffff;
  border: none;
}
.widget_calendar .wp-calendar-table #today > a {
  color: inherit;
}
.widget_calendar .wp-calendar-table tbody tr td {
  border: none;
}
.widget_calendar .wp-calendar-table thead tr th {
  border-bottom: 1px solid #e7e7e7;
  font-size: 14px;
  border-top: none;
}

.widget_calendar table > thead > tr > th > a,
.widget_calendar table > tbody > tr > th > a,
.widget_calendar table > tfoot > tr > th > a,
.widget_calendar table > thead > tr > td > a,
.widget_calendar table > tbody > tr > td > a,
.widget_calendar table > tfoot > tr > td > a {
  text-decoration: none;
}

.blog-single .entry-content .wp-block-calendar {
  position: relative;
}
.blog-single .entry-content .wp-block-calendar caption {
  caption-side: top;
  text-align: center;
  background-color: #ededed;
  font-weight: 600;
  padding: 0.5em;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -1px;
  color: #101010;
}
.blog-single .entry-content .wp-calendar-nav {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 42px;
  align-items: center;
}
.blog-single .entry-content .wp-calendar-nav-next > a::before {
  content: "";
}
.blog-single .entry-content .wp-calendar-nav-prev > a::before {
  content: "";
}
.blog-single .entry-content .wp-calendar-nav-prev > a,
.blog-single .entry-content .wp-calendar-nav-next > a {
  font-size: 0px;
  text-decoration: none;
}
.blog-single .entry-content .wp-calendar-nav-prev > a::before,
.blog-single .entry-content .wp-calendar-nav-next > a::before {
  font-size: 16px;
  font-family: "xs-fonts";
  font-weight: 900;
}

.entry-content .wp-block-table {
  border: none;
}

.wp-block-table.is-style-stripes td:first-child,
.wp-block-table.is-style-stripes th:first-child {
  border-color: transparent;
}

.entry-content table {
  border-top: none;
}

dt {
  font-weight: bold;
}
dt + dd {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

/* Gallery item */
.gallery-item {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 0 0 1.5em;
  padding: 0 1em 0 0;
  width: 50%;
}

.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
  box-shadow: none;
  background: none;
  max-width: 100%;
}

.gallery-item a img {
  display: block;
  transition: filter 0.2s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
  filter: opacity(60%);
}

.gallery-caption {
  display: block;
  text-align: left;
  padding: 0 10px 0 0;
  margin-bottom: 0;
}

.gallery-size-thumbnail .gallery-caption {
  display: inline-block;
  max-width: 200px;
  margin-top: 5px;
}

.gallery-size-thumbnail .gallery-item > div > a {
  display: inline-block;
}

.wp-caption,
.gallery-caption {
  color: #666;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

@media screen and (min-width: 30em) {
  /* Gallery Columns */
  .gallery-item {
    max-width: 25%;
  }

  .gallery-columns-1 .gallery-item {
    max-width: 100%;
  }

  .gallery-columns-2 .gallery-item {
    max-width: 50%;
  }

  .gallery-columns-3 .gallery-item {
    max-width: 33.33%;
  }

  .gallery-columns-4 .gallery-item {
    max-width: 25%;
  }

  .gallery-columns-5 .gallery-item {
    max-width: 25%;
  }

  .gallery-columns-5 .gallery-item {
    max-width: 20%;
  }

  .gallery-columns-6 .gallery-item {
    max-width: 16.66%;
  }

  .gallery-columns-7 .gallery-item {
    max-width: 14.28%;
  }

  .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
  }

  .gallery-columns-9 .gallery-item {
    max-width: 11.11%;
  }
}
/* Theme check */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(4, 26, 87, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.gallery-caption,
.bypostauthor {
  display: block;
}

code {
  overflow: auto;
  max-width: 100%;
  padding: 0 1em;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
}

a code {
  color: #E54220;
}

p {
  margin: 0 0 25px;
}

p img.alignleft {
  clear: both;
  margin-bottom: 30px;
}

select {
  max-width: 100%;
}

.post-password-form input[type=password] {
  padding: 5px 15px;
  margin-left: 0px;
}

.post-password-form input[type=submit] {
  background-color: #E54220;
  border: none;
  padding: 7px 55px;
  color: #ffffff;
  cursor: pointer;
}

/*============================
   post
=============================== */
.search .page,
.product,
.post {
  margin: 0 0 30px;
  position: relative;
}

.search .page .post-media,
.product .post-media,
.post .post-media {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: -1px;
}

.post .post-media .video-link-btn,
.search .page .post-media .video-link-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
}

.post .post-media .video-link-btn a,
.search .page .post-media .video-link-btn a {
  background-color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 100%;
  text-align: center;
  padding: 0;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  position: relative;
  color: #E54220;
}
.post .post-media .video-link-btn a:hover,
.search .page .post-media .video-link-btn a:hover {
  color: #ffffff;
}
.post .post-media .video-link-btn:before,
.search .page .post-media .video-link-btn:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0 currentColor;
  animation: button-ripple 3s infinite;
  opacity: 0.6;
  z-index: -1;
  animation-delay: 0.9s;
}
.post .post-media .video-link-btn:after,
.search .page .post-media .video-link-btn:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0 currentColor;
  animation: button-ripple 3s infinite;
  opacity: 0.6;
  z-index: -1;
  animation-delay: 0.3s;
}
@keyframes button-ripple {
  70% {
    box-shadow: 0 0 0 15px currentColor;
    opacity: 0;
  }
  to {
    box-shadow: 0 0 0 0 currentColor;
    opacity: 0;
  }
}
.search .page .entry-header .entry-title,
.product .entry-header .entry-title,
.post .entry-header .entry-title {
  margin-bottom: 17px;
  word-wrap: break-word;
  color: #041A57;
}

.entry-title {
  line-height: 1.4;
}

.search .page .entry-header .entry-title a,
.product .entry-header .entry-title a,
.post .entry-header .entry-title a {
  color: inherit;
}

.search .page .entry-header .entry-title a:hover,
.product .entry-header .entry-title a:hover,
.post .entry-header .entry-title a:hover {
  color: #E54220;
}

.search .page .entry-header .post-meta,
.product .entry-header .post-meta,
.post .entry-header .post-meta {
  margin-bottom: 7px;
}

.search .page .entry-header .post-meta span,
.product .entry-header .post-meta span,
.post .entry-header .post-meta span {
  display: inline-block;
  color: #72757B;
}
.search .page .entry-header .post-meta span:not(:last-child),
.product .entry-header .post-meta span:not(:last-child),
.post .entry-header .post-meta span:not(:last-child) {
  margin-right: 2.5rem;
}

.blog-single .post .post-meta .post-comment a {
  margin-left: 4px;
}

.search .page .entry-header .post-meta span i,
.product .entry-header .post-meta span i,
.post .entry-header .post-meta span i {
  margin-right: 3px;
  color: #E54220;
}

.search .page .post-footer,
.product .post-footer,
.post .post-footer {
  clear: both;
}

.product .post-footer .readmore i,
.post .post-footer .readmore i {
  vertical-align: middle;
  display: inline-block;
  margin-top: -2px;
  padding-left: 2px;
}

.search .page .post-footer .readmore,
.product .post-footer .readmore,
.post .post-footer .readmore,
.btn-primary {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
          user-select: none;
  padding: 12px 30px;
  border-radius: 0.25rem;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
  position: relative;
  background: #E54220;
  background: #e54220;
  transition: all 0.4s ease;
}

.tag-sticky-2 .post-body,
.post.sticky .post-body {
  overflow: hidden;
  position: relative;
}

.post .meta-featured-post {
  display: block;
  position: absolute;
  right: 18px;
  top: -35px;
  width: auto;
  height: auto;
  padding: 50px 8px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
  text-transform: uppercase;
  line-height: normal;
  writing-mode: vertical-lr;
  transform: rotate(-43deg);
}
.post .meta-featured-post::after {
  content: "";
  position: absolute;
  background: #E54220;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.post .meta-featured-post::before {
  position: absolute;
  content: "";
  right: 0;
  width: 100%;
  height: 30px;
  bottom: -15px;
  border-top: 15px solid #E54220;
  border-left: 15px solid #E54220;
  border-bottom: 15px solid #ffffff00;
  border-right: 15px solid #E54220;
}
.post .meta-featured-post > i {
  display: none;
}

.post.sticky .meta-featured-post::after,
.post .post-media .video-link-btn a:hover,
.search .page .post-media .video-link-btn a:hover,
.wp-calendar-table #today {
  background: #E54220;
}

.xs-page-header {
  margin-bottom: 30px;
}

.xs-page-header h2,
.entry-title {
  font-size: 30px;
}

/*=========================== ===========
         sidebar
========================================*/
.sidebar .widget,
.xs-footer .widget {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  padding: 40px;
  padding-bottom: 31px;
  padding-top: 34px;
}
.sidebar .widget ul,
.xs-footer .widget ul {
  margin-bottom: 0;
}
.sidebar .widget .widget-title,
.sidebar .widget .xs-custom-widget > h5,
.xs-footer .widget .widget-title,
.xs-footer .widget .xs-custom-widget > h5 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin: 0 0 30px;
  padding: 0 0 15px;
}
.sidebar .widget .widget-title:before,
.sidebar .widget .xs-custom-widget > h5::before,
.xs-footer .widget .widget-title:before,
.xs-footer .widget .xs-custom-widget > h5::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0px;
  width: 50px;
  height: 2px;
  left: 0;
  z-index: 1;
  background: #E54220;
}
.sidebar .textwidget form br,
.xs-footer .textwidget form br {
  display: none;
}

@media (max-width: 400px) {
  .post .post-body,
.sidebar .widget {
    padding: 25px;
  }
}
@media (max-width: 400px) {
  .sidebar .widget .widget-title,
.xs-custom-widget > h5 {
    font-size: 19px;
  }
}
.footer-widget.widget.widget_search .search-button,
.sidebar .widget.widget_search .search-button,
.wp-block-search .wp-block-search__button,
.search-forms .search-button {
  background: #f7f7f7;
  color: #101010;
  padding: 1.125rem 1.875rem;
  cursor: pointer;
  border: none;
  transition: all 0.4s;
  border-radius: 0px;
  font-size: 18px;
}

.footer-widget.widget.widget_search .form-control,
.sidebar .widget.widget_search .form-control,
.wp-block-search .wp-block-search__input,
.boilerplate-serach .form-control {
  border: none;
  background-color: #f7f7f7;
  border-radius: 0;
  padding: 22px 25px;
  width: 100%;
}

.widget.widget_search {
  border: none;
  padding: 0;
}
.widget.widget_search .input-group {
  position: relative;
}
.widget.widget_search .input-group-append {
  position: absolute;
  right: 0;
  top: 0;
}

.sidebar .widget.widget-tags ul li {
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 4px;
}

.sidebar .widget.widget-tags ul li a {
  display: block;
  padding: 5px 20px;
  border: 1px solid #eee;
  color: #666;
  transition: all 0.3s;
}

.sidebar .widget.widget-tags ul li a:hover {
  background: #E54220;
  color: #ffffff;
  transition: all ease 500ms;
}

.sidebar .widget.widget-tags ul li:last-child {
  margin-bottom: 0;
}

.sidebar .widget select {
  display: block;
  width: 100%;
}

.wp-block-archives.wp-block-archives-dropdown select,
.wp-block-categories-dropdown select,
.post-single .entry-content select,
.sidebar .widget select {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
}

.calendar_wrap {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.sidebar ul {
  border: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  border-bottom: 1px dashed #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.sidebar ul li a {
  color: #404040;
}

.sidebar ul li a:hover,
.sidebar ul li a.rsswidget:hover {
  color: #E54220;
}

.sidebar ul li a.url,
.sidebar ul li a.rsswidget {
  color: #222222;
}

.sidebar ul li a.rsswidget {
  font-weight: 600;
}

.sidebar ul li cite {
  font-style: normal;
}

.sidebar ul.sub-menu,
.sidebar ul.children {
  padding: 10px 0px 0 20px;
}

.sidebar ul.children {
  padding-bottom: 0;
}

.tag-lists a,
.tagcloud a {
  border: 1px solid #F1F1F1;
  color: #585B63;
  display: inline-block;
  font-size: 14px !important;
  padding: 4px 13px;
  margin-left: 3px;
  margin-bottom: 10px;
}

.tag-lists a:hover,
.tagcloud a:hover {
  color: #ffffff;
  background-color: #E54220;
  border-color: #E54220;
}

.tag-lists a,
.tagcloud a {
  background-color: #f2f2f2;
}

.textwidget img {
  margin: 10px 0;
}

.page-links .page-link {
  display: inline-block;
}

/*=======================================
 Post  Comments section
 ========================================*/
.blog-post-comment .comment-title {
  font-size: 24px;
}

.blog-post-comment .comment-info [class*=col-md-] {
  position: inherit;
}

.blog-post-comment .comment-respond {
  margin-bottom: 40px;
  margin-top: 40px;
}

.blog-post-comment .comment-respond .comment-reply-title {
  margin-bottom: 2px;
}

.comment-form .logged-in-as {
  margin-bottom: 40px;
}

.blog-post-comment .comment-respond .comment-form .form-control {
  border-radius: 0;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border-color: transparent;
  height: 56px;
  padding-left: 29px;
}
.blog-post-comment .comment-respond .comment-form .form-control:focus {
  background-color: transparent;
  border-color: #E54220;
  box-shadow: none;
}
.blog-post-comment .comment-respond .comment-form .form-control::placeholder {
  color: rgba(102, 101, 101, 0.7);
}

.blog-post-comment .comment-respond .comment-form textarea.form-control {
  height: 150px;
  padding: 23px 30px;
  margin-bottom: 30px;
  width: 100%;
}

.blog-post-comment .comment-respond .comment-form .comment-form-cookies-consent {
  display: none;
}

.blog-post-comment .comment-respond .comment-form .form-submit {
  margin-bottom: 0;
}

.blog-post-comment .comment-respond .comment-form .btn.btn-primary {
  padding: 12px 30px;
}

.comments-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 93px;
}

.comments-list .comment {
  list-style: none;
}

@media (max-width: 400px) {
  .comments-list ul {
    padding-left: 15px;
  }
}
.loginformuser .form-control {
  height: 100%;
  resize: none;
}

.loginformuser .form-control:focus {
  box-shadow: none;
  border-color: #E54220;
}

.btn-primary {
  background-color: #E54220;
  border-color: #E54220;
}
.btn-primary:hover {
  color: #ffffff;
}

/* Common */
.pingback p,
.pingback .says {
  display: none;
}

#cancel-comment-reply-link {
  float: right;
  color: #041A57;
}

#cancel-comment-reply-link:hover {
  color: #E54220;
}

.not-found h1 {
  margin-bottom: 20px;
}

.not-found .input-group-append {
  border: none;
}

.not-found .form-control:focus {
  box-shadow: none;
  border-color: #E54220;
}

.not-found p {
  line-height: 1.1;
  margin-bottom: 25px;
}

.not-found p small {
  display: block;
}

article.page .post-meta {
  margin-bottom: 15px;
}

/*===========================
         author box
=============================*/
.author-box {
  padding: 30px 40px 47px;
  background-color: #f8f8f8;
  margin-bottom: 99px;
}

@media (max-width: 991px) {
  .author-box .author-info {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .author-box .author-img {
    float: none;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .author-box .author-img {
    flex: 0 0 96px;
  }
}

.author-box .author-img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.author-box .author-info > h3 {
  margin-bottom: 0;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: capitalize;
  line-height: 1;
}

@media (min-width: 992px) {
  .author-box {
    display: flex;
  }
}
.author-box .post_author_role {
  color: #9a9a9a;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}
.author-box .post_author_role + .user_description {
  margin-top: 16px;
}
.author-box .user_description {
  margin-bottom: 0;
}

.author-box .author-url {
  margin-bottom: 0px;
  display: inline-block;
  font-size: 0.75rem;
  padding-left: 5px;
}

.author-box .author-url a {
  color: #666666;
  font-size: 14px;
}

/*=============================
   pagination nav
 =============================*/
.post-navigation {
  margin-bottom: 70px;
}

.post-previous .post-navigation-item > i {
  margin-right: 16px;
}

.post-next .post-navigation-item > i {
  margin-left: 16px;
}
.post-next .post-navigation-item .media-body {
  text-align: right;
}

.post-navigation-item {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  padding: 17px 30px;
}
.post-navigation-item > i {
  align-self: center;
  color: #979AA4;
  font-size: 1.25rem;
  transition: all 0.4s ease;
}
.post-navigation-item:hover h3,
.post-navigation-item:hover > i {
  color: #E54220;
}
.post-navigation-item .wp-post-image {
  max-width: 70px;
  margin-right: 20px;
  height: 70px;
  object-fit: cover;
}
.post-navigation-item .wp-post-image + .post-nav-content {
  max-width: calc(100% - 90px);
}
.post-navigation-item .post-nav-content {
  text-align: left;
  align-self: center;
}
.post-navigation-item span {
  font-size: 0.875rem;
  font-weight: 500;
  color: #7A7B7E;
}
.post-navigation-item h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.25;
  font-size: 1rem;
  transition: all 0.4s ease;
}

@media (min-width: 992px) {
  .post-navigation .post-previous {
    width: calc(50% - 5px);
    float: left;
    margin-right: 5px;
  }
}
@media (max-width: 991px) {
  .post-navigation .post-previous {
    margin-bottom: 20px;
  }
}
.post-navigation .post-previous .post-nav-content span i {
  margin-left: 0;
  margin-right: 6px;
}

@media (min-width: 992px) {
  .post-navigation .post-next {
    width: calc(50% - 5px);
    float: right;
    margin-left: 5px;
  }
}

/*==============================
 pagination
 ============================*/
.pagination {
  margin: 0;
  align-items: center;
}

.pagination li:not(:last-child) {
  margin-right: 8px;
}
.pagination li.active a,
.pagination li.active span {
  background-color: #E54220;
  color: #ffffff;
}
.pagination li.active a:hover,
.pagination li.active span:hover {
  background-color: #041A57;
}

.pagination li a,
.pagination li span,
.entry-content .post-page-numbers span.page-link {
  width: 40px;
  height: 40px;
  line-height: 24px;
  border: 1px solid #dadada;
  text-align: center;
  display: inline-block;
  color: #666;
  border-radius: 3px;
}

.entry-content .post-page-numbers span.page-link {
  transition: all 0.4s ease;
}

.pagination li a i,
.pagination li span i {
  line-height: 40px;
}

@media (max-width: 400px) {
  .pagination li a,
.pagination li span {
    margin-right: 6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
  }

  .pagination li a i,
.pagination li span i {
    line-height: 28px;
  }
}
@media (max-width: 991px) {
  .sidebar {
    margin-top: 30px;
  }
}
.pagination li.active a,
.pagination li:hover a,
.entry-content .post-page-numbers span.page-link:hover {
  color: #ffffff;
  background: #E54220;
  border: 1px solid transparent;
}

.pagination li.active a:hover,
.pagination li:hover a:hover {
  background: #E54220;
}

.pagination li.pagination-dots {
  margin: 0 15px 0 10px;
  line-height: 1;
  margin-top: -11px;
}

.entry-content .page-links {
  color: #041A57;
  margin-left: 5px;
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
}

.entry-content .page-links span {
  display: inline-block;
}

.entry-content .page-links span.page-link {
  color: #041A57;
  margin-right: 5px;
}

.entry-content .page-links .current span.page-link {
  color: #ffffff;
  background: #E54220;
  border-color: #E54220;
}

.entry-content .page-links .page-link-text {
  margin-right: 10px;
}

/*=======================
   blog details
 ========================*/
.blog-single .post .post-body {
  background: #ffffff;
  border: 0;
  padding: 0;
}

/*-- Review --*/
@media (max-width: 991px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.header ul.navbar-nav li .dropdown-menu {
  margin: 0;
}

.header ul.navbar-nav {
  margin-right: 0;
}
.preloder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.preloder-logo img {
  height: 150px;
}

.preloder-logo #xs_animated_logo_loder {
  height: 120px;
}

@media (max-width: 767.98px) {
  .preloder-logo #xs_animated_logo_loder {
    height: 80px;
  }
}
.preloder-logo #xs_animated_logo_loder #path-1,
.preloder-logo #xs_animated_logo_loder #path-2,
.preloder-logo #xs_animated_logo_loder #path-3,
.preloder-logo #xs_animated_logo_loder #path-4,
.preloder-logo #xs_animated_logo_loder #path-5 {
  stroke: #E54220;
}

.elementor-element.elementor-element-466ba69 .ekit_social_media > li {
  display: inline-block;
}

.wp-caption.aligncenter {
  margin: 0 auto;
}

.comment-author cite {
  font-style: normal;
  font-weight: 500;
}

.comment-author cite a, .comment-edit-link, .comment-reply-link, .comments-list .comment-author {
  color: #041a57;
  font-weight: 700;
}

.comment {
  margin-bottom: 30px;
}

/*/*/
/*@media (min-width: 992px){*/
/*.header ul.navbar-nav li .dropdown-menu{    right: -30px;    left: inherit;}*/
/*}*/
.pingback {
  margin-bottom: 30px;
}

.banner-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner-area {
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .banner-area {
    min-height: 400px;
  }
}
@media (max-width: 991px) {
  .banner-area {
    min-height: 350px;
  }
}

.post-single .post-author .avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.post-single .post-author a {
  display: inline-block;
  margin-left: 6px;
}

.main-container {
  padding: 100px 0;
}

body.search-results .main-container {
  padding-bottom: 180px;
}

.content-single {
  padding-bottom: 80px;
}

.banner-solid {
  background: #E54220;
}

.banner-title,
.xs-jumbotron-title {
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1.3;
  color: #fff;
}

.xs-footer-section {
  background-color: #041A57;
}

.copyright-area .copyright {
  margin-bottom: 0;
  padding: 30px 0;
  color: #ffffff;
}
.copyright-area .copyright > a {
  color: inherit;
}

.post-category > a:not(:last-child) {
  padding-right: 5px;
}
.post-category > a:not(:last-child)::after {
  content: ",";
  padding-left: 2px;
  display: inline-block;
}

@media (min-width: 992px) {
  .navbar {
    padding: 0px;
  }

  .navbar-nav > .nav-item > .nav-link,
.navbar,
.nav-search-area {
    min-height: 80px;
  }
}
@media (min-width: 992px) {
  .navbar-nav > .nav-item:last-child > .nav-link {
    padding-right: 0;
  }
  .navbar-nav > .nav-item:last-child > .nav-link::after {
    margin-left: 13px;
    display: inline-block;
  }
}
.navbar-nav > .nav-item > .nav-link {
  align-items: center;
}
@media (min-width: 992px) {
  .navbar-nav > .nav-item > .nav-link {
    display: flex;
    position: relative;
  }
  .navbar-nav > .nav-item > .nav-link:hover::before, .navbar-nav > .nav-item > .nav-link.active::before {
    opacity: 1;
  }
  .navbar-nav > .nav-item > .nav-link::before {
    margin-right: 13px;
    display: inline-block;
  }
  .navbar-nav > .nav-item > .nav-link::after {
    display: none;
  }
  .navbar-nav > .nav-item > .nav-link::before {
    content: "";
    width: 5px;
    height: 5px;
    color: inherit;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0.1;
    transition: opacity 0.4s ease;
  }
}
.navbar-nav .dropdown-arrow {
  margin-left: 6px;
}
.navbar-nav .nav-link {
  color: #041A57;
  font-weight: 500;
  font-size: 1rem;
}
.navbar-nav .nav-link > .dropdown-arrow {
  font-size: inherit;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
  color: #E54220;
}
@media (min-width: 992px) {
  .navbar-nav .nav-item .nav-link {
    padding-right: 15px;
    padding-left: 0;
  }
}
.navbar-nav .nav-item:hover .nav-link {
  color: #E54220;
}
@media (min-width: 992px) {
  .navbar-nav .nav-item:hover .nav-link::before {
    transform: translateX(0);
    opacity: 1;
  }
}
.navbar-nav .dropdown-toggle::after {
  content: "";
  font-family: "xs-fonts";
  font-weight: 900;
  float: right;
  border: 0;
  height: auto;
  width: auto;
}
.navbar-nav .dropdown-menu {
  border: none;
  margin: 0;
  border-radius: 0px;
}
.navbar-nav .dropdown-menu .menu-item-has-children > .dropdown-item:after {
  content: "";
  font-family: "xs-fonts";
  font-weight: 900;
  float: right;
}
@media (max-width: 991px) {
  .navbar-nav .dropdown-menu .menu-item-has-children > .dropdown-item:after {
    transform: rotate(90deg);
  }
}
.navbar-nav .dropdown-menu li:not(:first-child) a {
  border-top: 1px solid #f5f5f5;
}
.navbar-nav .dropdown-menu li a {
  font-weight: 500;
  color: #041A57;
  font-size: 1rem;
  display: block;
}
@media (min-width: 992px) {
  .navbar-nav .dropdown-menu li a {
    padding: 10px 20px;
  }
}
@media (max-width: 991px) {
  .navbar-nav .dropdown-menu li a {
    padding: 10px 0px;
  }
}
.navbar-nav .dropdown-menu li a:hover {
  color: #E54220;
  background-color: transparent;
}
.navbar-nav .dropdown-menu li:hover > a {
  background-color: transparent;
  color: #E54220;
}
@media (min-width: 992px) {
  .navbar-nav .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    padding: 0px 0px;
    min-width: 230px;
    box-shadow: 0 3px 5px 0 rgba(4, 26, 87, 0.2);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    transform: translateY(5px);
  }
  .navbar-nav .dropdown-menu .menu-item-has-children .dropdown-menu {
    left: auto;
    right: 100%;
    top: 0;
  }
}
.navbar-nav .menu-item-has-children:hover > .dropdown-menu {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.navbar .logo > img {
  max-width: 160px;
  max-height: 60px;
}

.navbar-toggler-icon {
  height: auto;
}

@media (max-width: 991px) {
  .footer-menu.header ul.navbar-nav {
    padding-top: 30px;
  }

  .header-main.header ul.navbar-nav {
    padding-top: 17px;
  }
  .header-main .navbar-nav .dropdown-arrow {
    display: none;
  }
}
.footer-menu .navbar-nav .dropdown-arrow {
  display: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

@media (max-width: 991px) {
  .menu-item-has-children .dropdown-menu li {
    padding: 0 19px;
    padding-right: 0;
  }
}
.nav-search-area {
  color: #041A57;
  position: relative;
}
@media (min-width: 992px) {
  .nav-search-area {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
}
@media (max-width: 991px) {
  .nav-search-area {
    display: none;
  }
}
.nav-search-area .header-search-icon {
  cursor: pointer;
}
.nav-search-area .xs-search-group {
  background-color: #041A57;
  box-shadow: 0 2px 5px rgba(4, 26, 87, 0.1);
  display: none;
  padding: 15px 20px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 350px;
  z-index: 10;
  margin-top: 0;
}
.nav-search-area .form-control {
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  color: #ffffff;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-size: 15px;
  font-style: italic;
}
.nav-search-area .search-button {
  display: none;
}

@media (min-width: 992px) {
  .xs-header-button {
    margin-left: 30px;
  }
}
@media (max-width: 991px) {
  .xs-header-button {
    display: none;
  }
}
.header-btn {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
          user-select: none;
  background: linear-gradient(90deg, #e54220 0%, #041a57 100%);
  padding: 7px 33px;
  position: relative;
}
.header-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0px 15px 25px 0px #e54220;
  opacity: 0.3;
  z-index: -1;
  border-radius: inherit;
}
.header-btn:hover {
  color: #ffffff;
}
@media (min-width: 992px) {
  .header-btn:hover {
    transform: translateY(-3px);
  }
}
.header-btn > i {
  margin-right: 9px;
}

@media (min-width: 992px) {
  .banner-title,
.xs-jumbotron-title {
    font-size: 3rem;
  }
}
@media (max-width: 991px) {
  .banner-title,
.xs-jumbotron-title {
    line-height: 1.2;
    font-size: 25px;
  }
}

.banner-subtitle {
  font-size: 1.125rem;
  margin-bottom: 0px;
}

.xs-banner .container {
  position: relative;
}
.xs-banner .breadcrumb {
  background-color: #ffffff;
  padding: 17px 44px;
  border-radius: 0;
}
@media (min-width: 992px) {
  .xs-banner .breadcrumb {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
  }
}

.breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
  padding: 0px;
  color: #E54220;
  font-size: 0.875rem;
  font-weight: 500;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li i {
  display: none;
}
.breadcrumb > li:not(:last-child)::after {
  content: "/";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #666666;
}
.breadcrumb > li a {
  color: #666666;
}
.breadcrumb > li a:hover {
  color: #E54220;
}

.tax-speaker-category .breadcrumb > li::after {
  content: "/";
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  color: #666666;
}

.copy-right {
  padding: 15px 0;
  background-color: #09090a;
}

.copyright-text {
  color: #fff;
  text-align: center;
}
.copyright-text > span {
  color: #E54220;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.error-body {
  margin-bottom: 150px;
}

.error404 .error-page .error-code {
  display: block;
  font-size: 150px;
  line-height: 150px;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.error404 .error-page .error-message h3 {
  font-size: 24px;
  color: #2e3d44;
}

.error404 .error-page .error-body a.btn {
  margin-top: 30px;
}

.mfp-wrap.ekit-promo-popup:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.87);
  padding-bottom: 100%;
  border-radius: 100%;
  overflow: hidden;
  animation: menu-animation 0.8s ease-out forwards;
}

.mfp-wrap.ekit-promo-popup {
  height: 100vh;
  overflow: hidden;
}

.mfp-bg.my-mfp-slide-bottom {
  display: none;
}

.navbar-sticky.fixed-top {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 35px 35px 0 rgba(0, 0, 0, 0.1);
}

.admin-bar .navbar-sticky.fixed-top {
  margin-top: 2rem;
}

.related-post-title-wraper {
  margin-bottom: 2.5rem;
}

.related-post-title {
  margin-bottom: 0;
}

.recent-project-wrapper {
  margin-bottom: 1.875rem;
}

.back_to_top > a {
  position: fixed;
  right: 40px;
  bottom: 120px;
  z-index: 10;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 18px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: white;
  background-color: #E54220;
  display: block;
  border-radius: 50%;
}

.post-single .entry-content select,
.wp-block-archives.wp-block-archives-dropdown select,
.wp-block-categories-dropdown select,
.sidebar .widget select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: center right 7px;
}

.navbar {
  padding: 0;
}

/*New blog design custom css*/
.blog-single .post .post-meta span {
  font-size: 16px;
  text-transform: capitalize;
}
.blog-single .post .post-meta span i {
  color: #E54220;
}
.blog-single .post .post-meta span a {
  margin-left: 0;
  color: inherit;
  line-height: 1.625rem;
}
.blog-single .post .post-meta span a:hover {
  color: #E54220;
}
.blog-single .post .post-media {
  margin-bottom: 2.1875rem;
}

.post-meta span a {
  color: inherit;
}

.blog-single .entry-content {
  padding-top: 14px;
}
.blog-single .entry-content .wp-block-quote {
  margin-top: 3.125rem;
  padding: 2.75rem 3.125rem 2.75rem;
  background-color: #f9f9f9;
  margin-bottom: 2.9375rem;
}
.blog-single .entry-content .wp-block-quote p {
  color: #666565;
  font-size: 20px;
  line-height: 1.875rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
}
.blog-single .entry-content .wp-block-quote cite {
  color: #101010;
  margin-left: 9px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}
.blog-single .entry-content .wp-block-quote cite:before {
  width: 5px;
  height: 2px;
  background: currentColor;
  color: inherit;
  left: -9px;
  margin: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.blog-single .entry-content iframe {
  margin: 24px 0px 10px 0px;
}

.blog-single figcaption {
  font-size: 14px;
  margin-top: 0;
}
.blog-single ul.blocks-gallery-grid {
  padding: 0;
  margin-top: 1.0625rem;
  padding-bottom: 0.5rem;
}
.blog-single ul.blocks-gallery-grid li {
  margin-right: 1.875rem;
}
.blog-single ul.blocks-gallery-grid li .blocks-gallery-item__caption {
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .blog-single .entry-content .wp-block-quote {
    padding: 30px;
  }
  .blog-single .entry-content .wp-block-quote p {
    padding-right: 0;
  }
  .blog-single .post .post-media {
    margin-bottom: 1.875rem;
  }
}
.footer-menu {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .footer-menu.header ul.navbar-nav > li > .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
}
.footer-menu .navbar-nav .dropdown-toggle::after {
  display: none;
}

@media (max-width: 991px) {
  .footer-menu.header-standard {
    background-color: #f7f7f7;
    padding: 26px 15px;
  }
  .footer-menu.header-standard ul.navbar-nav {
    padding-bottom: 0;
  }
  .footer-menu.header-standard .logo > img {
    max-width: 150px;
    max-height: 80px;
  }
}

.header-navbar-toggler-icon {
  height: 3px;
  width: 30px;
  display: block;
  position: relative;
  background-color: #3a3a3a;
  transition: all 0.4s ease;
}
.header-navbar-toggler-icon:not(:last-child) {
  margin-bottom: 5px;
}
.header-navbar-toggler-icon:nth-child(2) {
  transform-origin: left;
  transition-delay: 0s;
}

.navbar-toggler[aria-expanded=true] .header-navbar-toggler-icon:nth-child(1), .navbar-toggler[aria-expanded=true] .header-navbar-toggler-icon:nth-child(3) {
  transition-delay: 0.2s;
}
.navbar-toggler[aria-expanded=true] .header-navbar-toggler-icon:nth-child(2) {
  transition-delay: 0.3s;
  transform: scaleX(0);
}
.navbar-toggler[aria-expanded=true] .header-navbar-toggler-icon:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}
.navbar-toggler[aria-expanded=true] .header-navbar-toggler-icon:nth-child(3) {
  transform: rotate(-45deg);
  top: -7px;
}

@media (min-width: 992px) {
  .logo-not-entry .navbar-nav.ml-auto, .logo-not-entry .navbar-nav.mx-auto {
    margin-right: auto !important;
  }
}
@media (max-width: 992px) {
  .logo-not-entry .navbar-toggler {
    margin-left: 0px;
  }
}

.comments-list .comment-body .comment-reply-link {
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: 991px) {
  .comments-list .comment-body {
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-left: 94px;
  }
}
.comments-list .comment-body {
  border-bottom: 1px solid #eee;
}

.comments-list .children .avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.search .page .post-body,
.product .post-body,
.blog .mp-event-item .post-body,
.post .post-body {
  border: 1px solid #eee;
  padding: 40px;
}

.readmore {
  color: #404040;
}
.readmore:hover {
  color: #E54220;
}

.post-quote-content.post-body {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.post-quote-content.post-body::after, .post-quote-content.post-body::before {
  content: "";
  position: absolute;
  background-size: auto;
  background-position: left;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.post-quote-content.post-body::before {
  top: 0;
  left: 30px;
  background-image: url(../images/left-quote.png);
}
.post-quote-content.post-body::after {
  bottom: -40px;
  right: 30px;
  background-image: url(../images/right-quote.png);
}

.blog-single .post .post-body {
  background: #fff;
  border: 0;
  padding: 0;
}

.widget_archive ul:not(.menu) li a::before,
.widget_categories ul:not(.menu) li a::before,
.widget_pages ul:not(.menu) li a::before {
  content: "";
  display: inline-block;
  padding-right: 13px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
}

.wp-block-search .wp-block-search__button {
  margin-left: 0;
}

.wp-block-search .wp-block-search__input {
  flex-grow: 1;
  max-width: 360px;
}

.post-password-form input[type=password] {
  background-color: #fff;
  border-radius: 0;
  border: 0.1rem solid #ededed;
  box-shadow: none;
  font-size: 1.6rem;
  margin: 0;
  max-width: 100%;
  padding: 5px 30px;
  width: 100%;
  transition: all 0.4s ease;
}

.post-password-form input[type=submit] {
  background-color: #E54220;
  border: none;
  padding: 14px 55px;
  color: #fff;
  cursor: pointer;
  display: block;
  transition: all 0.4s ease;
}
.post-password-form input[type=submit]:hover {
  background-color: #041A57;
}

.xs-recent-post-widget .widget-post:not(:last-child) {
  margin-bottom: 30px;
}
.xs-recent-post-widget .widget-post > a {
  display: inline-block;
}
.xs-recent-post-widget .widget-post > a > img {
  max-width: 75px;
  height: 70px;
  object-fit: cover;
}
.xs-recent-post-widget .widget-post .media-body {
  margin-left: 25px;
}
.xs-recent-post-widget .widget-post .entry-title {
  margin-bottom: 7px;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 1.25;
}
.xs-recent-post-widget .widget-post .entry-title > a {
  color: inherit;
}
.xs-recent-post-widget .widget-post .entry-title > a:hover {
  color: #E54220;
}
.xs-recent-post-widget .widget-post .post-meta {
  margin-bottom: 0;
}
.xs-recent-post-widget .widget-post .post-meta > span {
  color: #666565;
}

.mf-input::placeholder {
  opacity: 1;
}

@media (max-width: 1024px) {
  .ekit-sticky .elementor-widget-ekit-nav-menu .elementskit-menu-overlay {
    display: none;
  }
  .ekit-sticky .elementor-widget-ekit-nav-menu .elementskit-menu-offcanvas-elements:after, .ekit-sticky .elementor-widget-ekit-nav-menu .elementskit-menu-offcanvas-elements:before {
    display: none;
  }
}

.post-single {
  margin-bottom: 3.75rem;
}
.post-single .single_post_hr_line {
  display: block;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 55px;
  margin-bottom: 55px;
}

.error-body {
  margin-bottom: 150px;
}

.error404 .error-page .error-code {
  display: block;
  font-size: 150px;
  line-height: 150px;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.error404 .error-page .error-message h3 {
  font-size: 24px;
  color: #2e3d44;
}

.error404 .error-page .error-body a.btn {
  margin-top: 30px;
}